node_modules/
.wrangler/
.wrangler-dist/
.wrangler-dist-production/
.wrangler-dist-checkout/
.wrangler-dist-checkout-production/
.wrangler-dist-corex/
.wrangler-dist-corex-production/
.dev.vars
.dev.vars.*
.env
.env.*
!.env.example