openapi: 3.1.0
info:
  title: Rahunok Edge API & Mobile SDK Specification
  version: 1.2.0
  description: |
    # Rahunok Mobile & Edge Payment API
    Повна OpenAPI / Swagger специфікація для розробників мобільних застосунків (iOS / Android / Apple App Clip / Web).

    ## Основні можливості:
    * **4 бізнес-сценарії оплати:**
      1. `fixed` — Фіксована сума (товари/послуги)
      2. `open_amount` — Вільна сума (каса, чайові, донати)
      3. `table` — Рахунок за столиком (ресторани, кафе)
      4. `delivery` — Оплата з доставкою Нової Пошти (відділення/поштомат/кур'єр)
    * **Генерація ISO / NBU 003 QR-кодів (ICT Instant Credit Transfer)**
    * **OS-Aware маршрутизація банківських Deep Links** (Monobank, Приват24, Sense Bank, ПУМБ, NovaPay, izibank, Абанк тощо)
    * **Високошвидкісний Cloudflare KV кеш банків та логотипів** (`/banks`, `/logos`)
    * **Симуляція та Webhook-інтеграція**

    ## Авторизація merchant API
    Захищені merchant endpoints приймають короткостроковий JWT або довгостроковий
    merchant API key у заголовку `Authorization: Bearer <credential>`.

    Merchant API keys створюються в Dashboard у розділі **Developer API**. Повне
    значення формату `rhk_live_<64 hex characters>` показується лише один раз;
    надалі сервіс зберігає тільки SHA-256 hash. Ключ може мати строк дії та може
    бути незворотно відкликаний власником merchant account.

servers:
  - url: https://rakhunok.com/api/v1
    description: Production Edge API (Cloudflare Global Anycast)
  - url: https://rahunok.dmitrishen.workers.dev/api/v1
    description: Staging / Cloudflare Workers Dev
  - url: http://localhost:8787/api/v1
    description: Local Development Server (Wrangler)

paths:
  # =========================================================================
  # 1. СИСТЕМНІ ЕНДПОІНТИ
  # =========================================================================
  /health:
    get:
      operationId: getHealth
      summary: Перевірка працездатності сервісу
      tags: [System]
      responses:
        '200':
          description: Сервіс працює стабільно
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: 'ok' }
                  service: { type: string, example: 'Rahunok Edge API' }
                  version: { type: string, example: '1.0.0' }
                  nbu_standard: { type: string, example: 'v003_ICT_Sandbox' }
                  timestamp: { type: string, format: date-time }

  # =========================================================================
  # 2. АВТОРИЗАЦІЯ МЕРЧАНТА
  # =========================================================================
  /auth/config:
    get:
      operationId: getAuthConfig
      summary: Отримати публічну конфігурацію Supabase Auth
      tags: [Auth]
      responses:
        '200':
          description: Публічна конфігурація клієнта авторизації
          content:
            application/json:
              schema:
                type: object
                properties:
                  supabaseUrl: { type: string, format: uri }
                  supabaseAnonKey: { type: string }
                  publicDomain: { type: string, format: uri }
                  providers:
                    type: array
                    items: { type: string }

  /auth/demo-session:
    post:
      operationId: createDemoSession
      summary: Створити демонстраційну merchant-сесію
      tags: [Auth]
      responses:
        '200':
          description: Демонстраційну сесію створено
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  token: { type: string, example: demo_merchant_token }
                  user: { type: object }
                  merchant:
                    $ref: '#/components/schemas/Merchant'

  # =========================================================================
  # 3. МЕРЧАНТ ТА ОНБОРДИНГ
  # =========================================================================
  /merchant/me:
    get:
      operationId: getMerchant
      summary: Отримати повний профіль та банківські налаштування
      tags: [Merchant]
      security:
        - BearerAuth: []
        - MerchantApiKey: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  merchant:
                    $ref: '#/components/schemas/Merchant'
    put:
      operationId: updateMerchant
      summary: Оновити реквізити або назву бренду
      tags: [Merchant]
      security:
        - BearerAuth: []
        - MerchantApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: { type: string, example: 'Ресторан Смак' }
                business_name: { type: string, example: 'ТОВ СМАК РЕСТО' }
                iban: { type: string, example: 'UA673005280000026500504354077' }
                avatar_url: { type: string, format: uri }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  merchant:
                    $ref: '#/components/schemas/Merchant'

  /merchant/onboarding:
    post:
      operationId: completeMerchantOnboarding
      summary: Завершити 3-кроковий онбординг мерчанта
      tags: [Merchant]
      security:
        - BearerAuth: []
        - MerchantApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [business_type, business_name, tax_id, iban, display_name]
              properties:
                business_type: { type: string, enum: [fop, tov, ngo] }
                business_name: { type: string }
                tax_id: { type: string }
                iban: { type: string }
                display_name: { type: string }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'

  # =========================================================================
  # 4. КЕРУВАННЯ РАХУНКАМИ (ORDERS / INVOICES)
  # =========================================================================
  /orders:
    get:
      operationId: listOrders
      summary: Список виставлених рахунків мерчанта з пагінацією та фільтрацією
      tags: [Orders]
      security:
        - BearerAuth: []
        - MerchantApiKey: []
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [pending, preparing, ready, paid, cancelled] }
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50 }
        - name: offset
          in: query
          required: false
          schema: { type: integer, default: 0 }
      responses:
        '200':
          description: Список рахунків мерчанта
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer, example: 42 }
                  limit: { type: integer, example: 50 }
                  offset: { type: integer, example: 0 }
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'

    post:
      operationId: createOrder
      summary: Створити новий платіжний рахунок (з генерацією NBU 003 QR та короткого лінка)
      tags: [Orders]
      security:
        - BearerAuth: []
        - MerchantApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, order_number, title]
              properties:
                type:
                  type: string
                  enum: [fixed, open_amount, table, delivery]
                  default: fixed
                order_number: { type: string, example: '№4812-A' }
                title: { type: string, example: 'Оплата замовлення №4812-A' }
                description: { type: string, example: 'Капучино та десерт' }
                amount:
                  {
                    type: number,
                    example: 180.00,
                    description: 'Сума рахунку, яку надсилають Dashboard та Merchant App'
                  }
                base_amount: { type: number, example: 180.00, description: '0.00 для open_amount' }
                total_amount: { type: number, example: 180.00 }
                delivery_fee: { type: number, example: 0.00 }
                discount_amount: { type: number, example: 0.00 }
                table_number: { type: integer, example: 12, description: 'Тільки для type=table' }
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/OrderItem'
      responses:
        '201':
          description: Рахунок створено, NBU 003 ISO payload та лінки сформовано
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  order:
                    $ref: '#/components/schemas/Order'
                  share:
                    type: object
                    properties:
                      url: { type: string, format: uri }
                      title: { type: string }
                      text: { type: string }
                  nbuQr:
                    type: object
                    properties:
                      rawString: { type: string }
                      base64UrlPayload: { type: string }
                      standardQrUrl: { type: string, format: uri }
                      previewText: { type: string }

  /orders/{id}:
    get:
      operationId: getOrder
      summary: Отримати інформацію про рахунок за UUID або кодом
      tags: [Orders]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, example: 'a90b0c3f-1ca5-4991-b3d8-eb7a136dfd92' }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateOrder
      summary: Оновити статус або суму рахунку
      tags: [Orders]
      security:
        - BearerAuth: []
        - MerchantApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [pending, preparing, ready, paid, cancelled] }
                amount: { type: number }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  order:
                    $ref: '#/components/schemas/Order'

  # =========================================================================
  # 5. ПУБЛІЧНИЙ ЧЕКАУТ ТА ОПЛАТА (ДЛЯ ПЛАТНИКА / APP CLIP / WEB)
  # =========================================================================
  /checkout/{id}:
    get:
      operationId: getCheckout
      summary: Публічні дані рахунку для відкриття чекауту (без авторизації)
      tags: [Checkout]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, example: 'a90b0c3f-1ca5-4991-b3d8-eb7a136dfd92' }
      responses:
        '200':
          description: Деталі замовлення та реквізити мерчанта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /checkout/{id}/initiate:
    post:
      operationId: initiateCheckoutPayment
      summary: Ініціалізувати оплату через обраний банк (генерація Deep Link / Universal Link)
      description: |
        Формує редирект для банківського додатку з урахуванням OS платника (iOS / Android / Desktop)
        та стандартного 17-рядкового ISO NBU 003 payload.
      tags: [Checkout]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bank]
              properties:
                bank:
                  {
                    type: string,
                    example: 'MONO',
                    description: 'Код банку (MONO, PBAN, SENS, FUIB, NOVA, TASB тощо)'
                  }
                bank_code: { type: string, example: 'MONO' }
                amount: { type: number, example: 150.00 }
                os: { type: string, enum: [ios, android, desktop], default: desktop }
                recaptcha_token: { type: string, example: 'token_from_google' }
      responses:
        '200':
          description: Сформований прямий лінк на застосунок банку
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  order_id: { type: string }
                  bank_code: { type: string, example: 'MONO' }
                  amount: { type: number, example: 150.00 }
                  currency: { type: string, example: 'UAH' }
                  redirect_url:
                    { type: string, format: uri, example: 'https://mbnk.app/qr/QkNECjAwMwox...' }
                  fallback_url: { type: string, format: uri }
                  strategy: { type: string, example: 'url_template' }
                  nbu_payload_base64: { type: string }
                  nbu_qr_url:
                    { type: string, format: uri, example: 'https://qr.bank.gov.ua/QkNECjAwMwox...' }

  /checkout/{id}/status:
    get:
      operationId: getCheckoutStatus
      summary: Перевірка статусу оплати в реальному часі (Polling)
      tags: [Checkout]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  status: { type: string, enum: [pending, preparing, ready, paid, cancelled] }
                  paid_at: { type: string, format: date-time, nullable: true }
                  paid_bank_code: { type: string, nullable: true }
                  paid_amount: { type: number, nullable: true }

  /checkout/{id}/events:
    get:
      operationId: listCheckoutEvents
      summary: Отримати історію подій чекауту
      tags: [Checkout]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id: { type: string }
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        event_name: { type: string }
                        metadata: { type: object }
                        created_at: { type: string, format: date-time }

  /checkout/{id}/event:
    post:
      operationId: recordCheckoutEvent
      summary: Записати клієнтську подію життєвого циклу чекауту
      tags: [Checkout]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type: { type: string, default: checkout_opened }
                bank_code: { type: string }
                previous_bank_code: { type: string }
                actor_name: { type: string, default: Гість }
                metadata: { type: object }
      responses:
        '200':
          description: Подію записано
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  event: { type: string }

  /checkout/{id}/apply-promo:
    post:
      operationId: applyCheckoutPromo
      summary: Застосувати промокод до замовлення
      tags: [Checkout]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [promo_code]
              properties:
                promo_code: { type: string, example: 'SALE4' }
      responses:
        '200':
          description: Знижку розраховано
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  valid: { type: boolean }
                  discount_amount: { type: number }
                  new_total: { type: number }

  /checkout/{id}/delivery:
    post:
      operationId: setCheckoutDelivery
      summary: Зберегти дані доставки Нової Пошти (Сценарій 4)
      tags: [Checkout]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderDelivery'
      responses:
        '200':
          description: Доставку збережено, підсумкову суму оновлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  delivery_fee: { type: number, example: 70.00 }
                  method: { type: string, enum: [branch, locker, courier] }
                  city: { type: string }
                  branch_info: { type: string }

  # =========================================================================
  # 6. КАТАЛОГ БАНКІВ ТА ЛОГОТИПІВ (KV CACHED)
  # =========================================================================
  /banks:
    get:
      operationId: listBanks
      summary: Отримати повний каталог українських банків (із Cloudflare KV кешу)
      tags: [Banks]
      responses:
        '200':
          description: Список банків
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bank'

  /banks/{idOrCode}:
    get:
      operationId: getBank
      summary: Отримати точну конфігурацію та Deep Link шаблони конкретного банку
      tags: [Banks]
      parameters:
        - name: idOrCode
          in: path
          required: true
          schema: { type: string, example: 'mono' }
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDetail'

  /logos:
    get:
      operationId: listBankLogos
      summary: Швидкий словник усіх банків з кольорами, логотипами та правилами Universal Links (O(1) lookup)
      tags: [Banks]
      responses:
        '200':
          description: Карта банків у форматі JSON-словника
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    code: { type: string, example: 'MONO' }
                    color: { type: string, example: '#000000' }
                    logo: { type: string, format: uri }
                    active: { type: boolean, example: true }
                    verified: { type: boolean, example: true }
                    url_template: { type: string, example: 'https://mbnk.app/qr/{payload}' }
                    universal_link: { type: string, example: 'https://mbnk.app/qr/{payload}' }
                    ios_scheme: { type: string, example: 'mono' }
                    android_package: { type: string, example: 'com.ftband.mono' }

  # =========================================================================
  # 7. ІНТЕГРАЦІЯ КСО
  # =========================================================================
  /kso/checkout-requests:
    post:
      operationId: createKsoCheckoutRequest
      summary: Створення платіжного запиту з касового термінала
      description: |
        Створює ідемпотентний checkout request для інтегрованої касової системи.
        Підпис `X-Rahunok-Signature` має формат `v1=<base64url HMAC-SHA256>` і
        обчислюється над рядком `METHOD\nPATH_AND_SORTED_QUERY\nTIMESTAMP\nNONCE\nIDEMPOTENCY_KEY\nSHA256_BODY_HEX`.
        Timestamp приймається у межах п'яти хвилин, nonce не можна використовувати повторно,
        а тіло запиту не може перевищувати 1 MiB.
      tags: [KSO]
      security:
        - KsoHmac: []
      parameters:
        - $ref: '#/components/parameters/KsoPartnerId'
        - $ref: '#/components/parameters/KsoKeyId'
        - $ref: '#/components/parameters/KsoTimestamp'
        - $ref: '#/components/parameters/KsoNonce'
        - $ref: '#/components/parameters/KsoIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KsoCheckoutRequest'
      responses:
        '201':
          description: Checkout request створено
          headers:
            X-Correlation-ID:
              schema: { type: string, format: uuid }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KsoCheckoutCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/KsoUnauthorized'
        '409':
          description: Idempotency key вже використаний для іншого запиту
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /kso/checkout-requests/{id}:
    get:
      operationId: getKsoCheckoutRequest
      summary: Отримання стану платіжного запиту КСО
      tags: [KSO]
      security:
        - KsoHmac: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/KsoPartnerId'
        - $ref: '#/components/parameters/KsoKeyId'
        - $ref: '#/components/parameters/KsoTimestamp'
        - $ref: '#/components/parameters/KsoNonce'
      responses:
        '200':
          description: Поточний стан checkout request
          headers:
            X-Correlation-ID:
              schema: { type: string, format: uuid }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KsoCheckoutStatus'
        '401':
          $ref: '#/components/responses/KsoUnauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # =========================================================================
  # 8. PRODUCTION ВЕБХУКИ
  # =========================================================================
  /webhooks/{bankCode}:
    post:
      operationId: receiveBankWebhook
      summary: Прийом вебхуків від банків (Monobank, PrivatBank тощо)
      description: |
        Підпис має формат `v1=<base64url HMAC-SHA256>` і обчислюється над рядком
        `POST\nPATH\nTIMESTAMP\nSHA256_BODY_HEX`. Timestamp приймається у межах п'яти хвилин,
        максимальний розмір тіла становить 256 KiB.
      tags: [Webhooks]
      security:
        - BankWebhookHmac: []
      parameters:
        - name: bankCode
          in: path
          required: true
          schema: { type: string, example: 'monobank' }
        - $ref: '#/components/parameters/BankWebhookKeyId'
        - $ref: '#/components/parameters/BankWebhookTimestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Вебхук успішно прийнято та оброблено

  # =========================================================================
  # 9. АНАЛІТИКА ТА СТАТИСТИКА
  # =========================================================================
  /stats/summary:
    get:
      operationId: getStatsSummary
      summary: Загальна статистика продажів мерчанта
      tags: [Analytics]
      security:
        - BearerAuth: []
        - MerchantApiKey: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_invoices: { type: integer, example: 42 }
                  paid_invoices: { type: integer, example: 38 }
                  pending_invoices: { type: integer, example: 4 }
                  total_volume_uah: { type: number, example: 128450.00 }
                  today_volume_uah: { type: number, example: 14200.00 }
                  conversion_pct: { type: number, example: 90.5 }

# =========================================================================
# КОМПОНЕНТИ ТА СХЕМИ
# =========================================================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Короткостроковий JWT токен мерчанта, отриманий при логіні.
    MerchantApiKey:
      type: http
      scheme: bearer
      bearerFormat: RHK_API_KEY
      description: |
        Merchant API key формату `rhk_live_<64 hex characters>`, створений у
        Dashboard → Developer API. Повне значення показується лише один раз.
        Передавайте ключ як `Authorization: Bearer rhk_live_...`. Відкликані
        ключі та ключі зі строком дії, що минув, не авторизують запити.
    KsoHmac:
      type: apiKey
      in: header
      name: X-Rahunok-Signature
      description: HMAC-SHA256 підпис у форматі `v1=<base64url>`; алгоритм канонізації описано в KSO operations.
    BankWebhookHmac:
      type: apiKey
      in: header
      name: X-Bank-Webhook-Signature
      description: HMAC-SHA256 підпис банківського webhook у форматі `v1=<base64url>`.

  parameters:
    KsoPartnerId:
      name: X-Partner-ID
      in: header
      required: true
      schema: { type: string }
    KsoKeyId:
      name: X-Rahunok-Key-ID
      in: header
      required: true
      schema: { type: string }
    KsoTimestamp:
      name: X-Rahunok-Timestamp
      in: header
      required: true
      description: ISO 8601 timestamp у межах п'яти хвилин від часу сервера.
      schema: { type: string, format: date-time }
    KsoNonce:
      name: X-Rahunok-Nonce
      in: header
      required: true
      description: Одноразове значення довжиною щонайменше 16 символів.
      schema: { type: string, minLength: 16 }
    KsoIdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Стабільний ключ запиту довжиною щонайменше 16 символів.
      schema: { type: string, minLength: 16 }
    BankWebhookKeyId:
      name: X-Bank-Webhook-Key-ID
      in: header
      required: true
      schema: { type: string }
    BankWebhookTimestamp:
      name: X-Bank-Webhook-Timestamp
      in: header
      required: true
      description: ISO 8601 timestamp у межах п'яти хвилин від часу сервера.
      schema: { type: string, format: date-time }

  schemas:
    KsoCheckoutRequest:
      type: object
      required:
        [
          network_id,
          location_id,
          terminal_id,
          kso_session_id,
          order_reference,
          amount_minor,
          currency,
          presentation_mode
        ]
      properties:
        network_id: { type: string }
        location_id: { type: string }
        terminal_id: { type: string }
        kso_session_id: { type: string }
        order_reference: { type: string }
        amount_minor: { type: integer, minimum: 1, example: 18000 }
        currency: { type: string, enum: [UAH] }
        presentation_mode: { type: string, enum: [qr, nfc, mobile_push] }
        callback_payload_mode: { type: string, enum: [compact, full], default: compact }

    KsoCheckoutCreated:
      type: object
      required:
        [
          checkout_request_id,
          payment_id,
          payment_status,
          loyalty_status,
          link_status,
          expires_at,
          checkout_url,
          presentation
        ]
      properties:
        checkout_request_id: { type: string, format: uuid }
        payment_id: { type: string, format: uuid }
        payment_status: { type: string }
        loyalty_status: { type: string }
        link_status: { type: string }
        expires_at: { type: string, format: date-time }
        checkout_url: { type: string, format: uri }
        presentation:
          type: object
          required: [mode]
          properties:
            mode: { type: string, enum: [qr, nfc, mobile_push] }
            qr_payload: { type: string, nullable: true }
            nfc_url: { type: string, format: uri, nullable: true }
            payment_request_id: { type: string, nullable: true }

    KsoCheckoutStatus:
      type: object
      required:
        [checkout_request_id, payment_id, payment_status, loyalty_status, link_status, expires_at]
      properties:
        checkout_request_id: { type: string, format: uuid }
        payment_id: { type: string, format: uuid }
        payment_status: { type: string }
        loyalty_status: { type: string }
        link_status: { type: string }
        paid_at: { type: string, format: date-time, nullable: true }
        expires_at: { type: string, format: date-time }

    AuthResponse:
      type: object
      properties:
        access_token: { type: string, example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...' }
        token_type: { type: string, example: 'Bearer' }
        expires_in: { type: integer, example: 604800 }
        merchant:
          $ref: '#/components/schemas/Merchant'

    Merchant:
      type: object
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        business_name: { type: string, example: 'ФОП Шевченко Т.Г.' }
        business_type: { type: string, enum: [fop, tov, ngo] }
        tax_id: { type: string, example: '3124567890' }
        iban: { type: string, example: 'UA673005280000026500504354077' }
        display_name: { type: string, example: "Кав'ярня «Крапка»" }
        avatar_url: { type: string, nullable: true }
        currency: { type: string, example: 'UAH' }
        onboarding_completed: { type: boolean, example: true }
        created_at: { type: string, format: date-time }

    MerchantPublic:
      type: object
      properties:
        display_name: { type: string, example: "Кав'ярня «Крапка»" }
        business_name: { type: string, example: 'ФОП Шевченко Т.Г.' }
        tax_id: { type: string, example: '3124567890' }
        iban: { type: string, example: 'UA673005280000026500504354077' }
        avatar_url: { type: string, nullable: true }

    OrderItem:
      type: object
      properties:
        name: { type: string, example: 'Капучино з вівсяним молоком' }
        quantity: { type: number, example: 2 }
        unit_price: { type: number, example: 75.00 }
        total_price: { type: number, example: 150.00 }

    OrderDelivery:
      type: object
      required: [recipient_name, recipient_phone, method, city, branch_info]
      properties:
        recipient_name: { type: string, example: 'Олександр Петренко' }
        recipient_phone: { type: string, example: '+380501234567' }
        method: { type: string, enum: [branch, locker, courier], example: 'branch' }
        city: { type: string, example: 'Київ' }
        branch_info: { type: string, example: 'Відділення №42 (вул. Хрещатик, 15)' }
        delivery_fee: { type: number, example: 80.00 }

    Order:
      type: object
      properties:
        id: { type: string, format: uuid, example: 'a90b0c3f-1ca5-4991-b3d8-eb7a136dfd92' }
        short_code: { type: string, example: 'a90b0c' }
        merchant_id: { type: string, format: uuid }
        type: { type: string, enum: [fixed, open_amount, table, delivery] }
        order_number: { type: string, example: '№4812-A' }
        title: { type: string, example: 'Оплата замовлення №4812-A' }
        description: { type: string, nullable: true }
        base_amount: { type: number, example: 180.00 }
        discount_amount: { type: number, example: 0.00 }
        delivery_fee: { type: number, example: 0.00 }
        total_amount: { type: number, example: 180.00 }
        currency: { type: string, example: 'UAH' }
        table_number: { type: integer, nullable: true, example: 12 }
        status: { type: string, enum: [draft, pending, preparing, ready, paid, expired, cancelled] }
        paid_at: { type: string, format: date-time, nullable: true }
        paid_bank_code: { type: string, nullable: true }
        paid_amount: { type: number, nullable: true }
        nbu_payload_base64: { type: string }
        nbu_qr_url: { type: string, format: uri }
        share_url: { type: string, format: uri, example: 'https://rakhunok.com/pay/a90b0c' }
        created_at: { type: string, format: date-time }
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        delivery:
          $ref: '#/components/schemas/OrderDelivery'

    Bank:
      type: object
      properties:
        id: { type: string, example: 'mono' }
        code: { type: string, example: 'MONO' }
        name: { type: string, example: 'Monobank' }
        color: { type: string, example: '#000000' }
        logo: { type: string, format: uri }
        active: { type: boolean, example: true }
        verified: { type: boolean, example: true }

    BankDetail:
      type: object
      properties:
        id: { type: string, example: 'mono' }
        code: { type: string, example: 'MONO' }
        name: { type: string, example: 'Monobank' }
        url_template: { type: string, example: 'https://mbnk.app/qr/{payload}' }
        universal_link: { type: string, example: 'https://mbnk.app/qr/{payload}' }
        ios_scheme: { type: string, example: 'mono' }
        android_package: { type: string, example: 'com.ftband.mono' }
        alternative_url: { type: string, example: 'mono://bank.gov.ua/qr/{payload}' }
        encoding: { type: string, example: '1' }
        nbu_version: { type: string, example: '003' }

    Error:
      type: object
      required: [error, message]
      properties:
        error: { type: boolean, example: true }
        message: { type: string, example: 'Помилка валідації даних' }
        details:
          nullable: true

  responses:
    BadRequest:
      description: Некоректні параметри запиту
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Помилка авторизації (недійсний або відсутній Bearer JWT)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    KsoUnauthorized:
      description: Відсутні або недійсні HMAC-заголовки, timestamp, nonce чи підпис
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Ресурс або рахунок не знайдено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
